body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 12px;
}

header{
  font-size: 24px;
  margin: 0;
  margin-top: -10px;
}

h1, h2, h3, h4, h5, h6{
  font-size: 24px;
  margin: 0;
  padding: 10px 20px;
  text-align: center;
}

.nav-wrapper{
  background-color: #790000;
  color: white;
  padding: 20px 0;
}

.input-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
}

.wikiQuery{
  text-align: center;
  margin-top: 100px;
  padding: 50px;
  font-size: 14px;
}

.giphyQuery{
  text-align: center;
  width: 300px;
  height: 200px;
  margin: 100px 50 50 0;
  padding: 50px;
  font-size: 14px;
}

.giphyQuery img {
  max-width: 100%;
  height: auto;
}

#logo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #790000;
}

#userInput{
  width: 70%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

#submitBtn{
  color: white;
  background-color: #00796B;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5 auto;
  padding: 2px 16px 4px;
}

#submitBtn:hover{
  background-color: #00443b;
  box-shadow: 0 0 10px rgb(0, 0, 0);
}

@media(max-width: 600px){
  h1, h2, h3, h4, h5, h6{
    font-size: 16px;
    margin: 0;
    padding: 10px 20px;
    text-align: center;
  }

  .nav-wrapper{
    padding-top: 0;
  }

  .content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
  }
  
  .wikiQuery{
    font-size: 10px;
  }
  
  .giphyQuery{
    font-size: 10px;
  }
  
  .giphyQuery img {
    max-width: 70%;
    height: auto;
  }

  #userInput{
    width: 90%;
  }
}
