body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: "Comic Neue";
  font-size: 12px;
  background: url(images/Marvel-DC-Background.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.default-bg {
  background: url(images/Marvel-DC-Background.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.marvel-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url(images/marvel-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.dc-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url(images/Dc-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

header {
  margin: 0;
  margin-top: -10px;
}

.nav-box {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: 100px;
  background-color: #7800ac;
}

#logo-wrapper {
  margin: auto;
}

.logo-title {
  margin: auto;
  font-size: 40px;
  text-shadow: 2px 2px 5px black;
  cursor: pointer;
}

.input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 100px;
}

#userInput {
  background-color: white;
  max-width: 15vw;
  margin: auto;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 2px 2px 5px black;
  font-size: 20px;
  font-weight: 500;
  resize: none;
}

#submitBtn {
  width: 9em;
  text-align: center;
  color: white;
  background-color: #2b967f;
  border-radius: 5px;
  box-shadow: 2px 2px 10px black;
  font: 30px;
  cursor: pointer;
  margin: 8px;
}

#submitBtn:hover {
  background-color: #006d60;
  box-shadow: 0px 0px 5px 2px rgb(0, 0, 0);
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.marvel-box {
  display: flex;
  margin-right: 100px;
}

.marvel-logo-btn {
  background: url(./images/marvellogo.png) no-repeat;
  background-size: cover;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 200px;
  height: 100px;
  margin: auto;
  filter: drop-shadow(2px 2px 2px #ec1d24);
}

.marvel-menu-btn,
.dc-menu-btn {
  margin: 10px;
  background-color: black;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
}

.dropdown {
  background-color: rgba(192, 192, 192, 0.473);
  max-height: 100px;
  overflow: auto;
}

.dropdown option {
  color: black;
}

.dc-box {
  display: flex;
  margin-left: 100px;
}

.dc-logo-btn {
  background: url(./images/dclogo2.png) no-repeat;
  background-size: contain;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  width: 100px;
  height: 100px;
  margin: auto;
  filter: drop-shadow(2px 2px 2px #0476f2);
}

.logo-title:hover,
#marvel-logo-btn:hover,
#dc-logo-btn:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px black);
  transform: translateX(2px) translateY(2px);
}

.logo-title:hover {
  text-shadow: 0px 0px black;
}

.result-container {
  margin: 50px;
  justify-content: center;
}

.wiki-result-box {
  display: flex;
  flex-direction: column;
  background-color: rgba(121, 0, 0, 0.8);
  border-radius: 5px;
  box-shadow: 2px 2px 5px black;
}

.wiki-text {
  margin: 15px auto 15px;
  padding: 0px;
  font-size: 24px;
  color: white;
}

.wikiQuery,
.giphyQuery {
  display: flex;
  text-align: center;
  margin: auto;
  padding: 50px;
  font-size: 14px;
}

.wikiQuery {
  flex-direction: column;
  margin: auto;
}

.wikiQuery a {
  margin: 6px;
  margin-bottom: 15px;
  padding: 3px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
  background-color: black;
  font-size: 20px;
}

.giphy-result-box {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.giphyQuery {
  overflow-x: auto;
  width: 80vw;
  margin: 0 auto;
  padding: 0;
}

.giphyQuery img {
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
}

footer {
  margin-top: auto;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #7800ac;
}

.favorite-heroes {
  text-shadow: 2px 2px 5px black;
  font-size: 32px;
}

#previous-search {
  display: flex;
}

#previous-search p {
  font-size: 17px;
  margin: 15px;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
}
/* hide certain elements until target event */
.display {
  display: none;
}

@media (max-width: 900px) {
  .default-bg {
    background: url(images/Marvel-DC-Background.jpg) no-repeat;
    background-position: center;
    background-size: cover;
  }

  .marvel-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url(images/marvel-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
  }

  .dc-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
      url(images/Dc-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
  }

  .logo-title {
    font-size: 22px;
    margin-left: 25px;
  }

  #userInput {
    max-width: 80%;
    border-radius: 10px;
    margin-right: 25px;
  }

  #submitBtn {
    display: none;
  }

  .input-container {
    display: flex;
    align-items: center;
  }

  .input-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0px;
  }

  .marvel-box,
  .dc-box {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .marvel-box {
    margin-bottom: 20px;
  }

  .wikiQuery {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
  }

  .wikiQuery a {
    position: relative;
    margin: 6px;
    padding: 3px;
    border: none;
    box-shadow: none;
    background-color: black;
    font-size: 12px;
  }

  .giphyQuery {
    display: flex;
    flex-direction: column;
  }

  .giphyQuery img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  footer {
    height: auto;
    width: auto;
    overflow: auto;
  }
}
