body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 12px;
  background-color: rgb(247, 243, 243);
}

header{
  font-size: 24px;
  margin: 0;
  margin-top: -10px;
}

footer{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #790000;
}

h1, h2, h3, h4, h5, h6{
  font-size: 24px;
  margin: 0;
  padding: 10px 20px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
}

.marvel-logo-btn{
  background:url(./images/marvellogo.png) no-repeat;
  background-size: cover;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 200px;
  height: 100px;
  margin: auto;
  filter: drop-shadow(2px 2px 2px #EC1D24);
}

.dc-logo-btn{
  background: url(./images/dclogo2.png) no-repeat;
  background-size: contain;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  margin: auto;
  filter: drop-shadow(2px 2px 2px #0476F2);
}

.input-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
}

.wikiQuery{
  text-align: center;
  margin-top: 100px;
  padding: 50px;
  font-size: 14px;
}

.giphyQuery{
  text-align: center;
  width: 300px;
  height: 200px;
  margin: 100px 50 50 0;
  padding: 50px;
  font-size: 14px;
}

.giphyQuery img {
  max-width: 100%;
  height: auto;
}

#logo-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #7800ac;
}

.logo-title{
  text-shadow: 2px 2px black;
  cursor: pointer;
}

#userInput{
  width: 70%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

#submitBtn{
  color: white;
  background-color: #00ad99;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5 auto;
  padding: 2px 16px 4px;
}

#submitBtn:hover{
  background-color: #006d60;
  box-shadow: 0px 0px 5px 2px rgb(0, 0, 0);
}

.logo-title:hover{
  text-shadow: 0px 0px black;
}

.logo-title:hover,
#marvel-logo-btn:hover,
#dc-logo-btn:hover{
  cursor: pointer;
  filter: drop-shadow(0px 0px black);
	transform: translateX(2px) translateY(2px);
}

@media(max-width: 600px){
  h1, h2, h3, h4, h5, h6{
    font-size: 16px;
    margin: 0;
    padding: 10px 20px;
    text-align: center;
  }

  .nav-wrapper{
    padding-top: 0;
  }

  .content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
  }
  
  .wikiQuery{
    font-size: 10px;
  }
  
  .giphyQuery{
    font-size: 10px;
  }
  
  .giphyQuery img {
    max-width: 70%;
    height: auto;
  }

  #userInput{
    width: 90%;
  }
}


